*,body {
    margin: 0px;
    font-family: '8BIT WONDER', sans-serif;
}


header{
    background-image: url(images/ressources/titres/mur.png);
}

header img {
    display: block;
    margin-left: auto;
    margin-right:auto ;
    height: 150px;
    width: auto;
}

body { 
    height: 100vh;
    width: 100vw;
    background-image: url(images/ressources/Fond-def.png);

 }

h1{
    text-align: center ;
    color: white;
}

h1 strong {
    font-size: larger;

}

nav{
    color: beige;
    font-size: x-large;
    display: flex;
    margin-right: 10rem;
    margin-left: 10rem;
    justify-content: space-evenly;
    padding-top:1rem ;
    padding-bottom:1rem ;
}

.crumbs ol {
    list-style-type: none;
    padding-left: 1vw;
}

.crumbs a{
    color: beige;
    text-decoration: none;
}

.crumb {
    display: inline-block;
}

.zone_centrale h2{
    text-align: center;
}

.centrimages {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.zone_centrale {
    display: block;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-bottom: 10vh;
    background-color: black;
    color: white;
    padding:2vw;
    border-radius: 10px;
    border-style: solid;
    border-color: white ;
    border-width: 1px;
    text-align: center;
}

label,input{
    display:flex;
    flex-direction:column;
  }

  label{
    margin-bottom: 1vh;
  }

input {
    font-family: 'Times New Roman', Times, serif;
    width: 95%;
    background-color: black;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: white;
    margin-bottom: 1vh;
    color: white;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-style: none;
}

table img {
    transition: transform 0.2s ease-in-out;
    width: 10vw;
    height: 10vw;
}

.infoPartie{
    text-align: center;
}

.pasContent {
    margin-bottom: 2vh;
    color: red;
    font-size: smaller;
    visibility: hidden;
}

form img {
    width: 1rem;
    height: 1rem;
}

.groar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.groar img {
    visibility: hidden;
}

.sousMdp {
    margin-bottom: 0.5vh;
    color: #8e8e8e;
    font-size: smaller;
}

.faible {
    background-color: red;
    height: 4px;
    width: 32%;
    visibility: hidden;
}

.moyen {
    background-color: yellow;
    height: 4px;
    width: 32%;
    visibility: hidden;
}

.fort {
    background-color: cyan;
    height: 4px;
    width: 32%;
    visibility: hidden;
}

.aligneForce {
    display: flex;
    padding-left: 20%;
    padding-right: 20%;
    justify-content: space-around;
    flex-direction: row;
    text-align: center;
}

.pfaible {
    color: #8e8e8e;
    font-size:x-small;
    visibility: hidden;
}

.pmoyen {
    color: #8e8e8e;
    font-size:x-small;
    display: block;
    visibility: hidden;
}

.pfort {
    color: #8e8e8e;
    font-size:x-small;
    display: block;
    visibility: hidden;
}

input[type="button"] {
    font-family: '8BIT WONDER', sans-serif;
    padding: 1%;
    width: auto;
    font-size: 1.5rem;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: rgb(218, 209, 32);
}

input[disabled] {
    background-color: rgb(55, 60, 55);
    color: black;
    cursor: not-allowed;
}

input[type="button"]:hover {
    cursor: pointer;
    background-color: rgb(0, 155, 0)
}

input[disabled]:hover {
    background-color: rgb(55, 60, 55);
    color: black;
    cursor: not-allowed;
}
.centrerBouton {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
}
.alignescore {
    display: flex;
    padding-left: 20%;
    padding-right: 20%;
    flex-direction: row;
    justify-content: space-between;
}

.cachette{
    visibility: hidden;
}

@keyframes firework {
    0% { transform: translate(var(--x), var(--initialY)); width: var(--initialSize); opacity: 1; }
    50% { width: 0.5vmin; opacity: 1; }
    100% { width: var(--finalSize); opacity: 0; }
  }
  
  /* @keyframes fireworkPseudo {
    0% { transform: translate(-50%, -50%); width: var(--initialSize); opacity: 1; }
    50% { width: 0.5vmin; opacity: 1; }
    100% { width: var(--finalSize); opacity: 0; }
  }
   */
  .firework,
  .firework::before,
  .firework::after
  {
    --initialSize: 0.5vmin;
    --finalSize: 45vmin;
    --particleSize: 0.2vmin;
    --color1: blue;
    --color2: green;
    --color3: white;
    --color4: red;
    --color5: gold;
    --color6: mediumseagreen;
    --y: -30vmin;
    --x: -50%;
    --initialY: 60vmin;
    content: "";
    animation: firework 2s infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, var(--y));
    width: var(--initialSize);
    aspect-ratio: 1;
    background: 
      /*
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 0% 0%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 100% 0%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 100% 100%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 0% 100%,
      */
      
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 50% 0%,
      radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 50%,
      radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 50% 100%,
      radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 0% 50%,
      
      /* bottom right */
      radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 80% 90%,
      radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 95% 90%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 90% 70%,
      radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 60%,
      radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 55% 80%,
      radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 70% 77%,
      
      /* bottom left */
      radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 22% 90%,
      radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 45% 90%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 70%,
      radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 10% 60%,
      radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 31% 80%,
      radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 28% 77%,
      radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 13% 72%,
      
      /* top left */
      radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 80% 10%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 95% 14%,
      radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 90% 23%,
      radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 100% 43%,
      radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 85% 27%,
      radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 77% 37%,
      radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 60% 7%,
      
      /* top right */
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 22% 14%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 45% 20%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 34%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 10% 29%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 31% 37%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 28% 7%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 13% 42%
      ;
    background-size: var(--initialSize) var(--initialSize);
    background-repeat: no-repeat;
  }
  
  .firework::before {
    --x: -50%;
    --y: -50%;
    --initialY: -50%;
  /*   transform: translate(-20vmin, -2vmin) rotate(40deg) scale(1.3) rotateY(40deg); */
    transform: translate(-50%, -50%) rotate(40deg) scale(1.3) rotateY(40deg);
  /*   animation: fireworkPseudo 2s infinite; */
  }
  
  .firework::after {
    --x: -50%;
    --y: -50%;
    --initialY: -50%;
  /*   transform: translate(44vmin, -50%) rotate(170deg) scale(1.15) rotateY(-30deg); */
    transform: translate(-50%, -50%) rotate(170deg) scale(1.15) rotateY(-30deg);
  /*   animation: fireworkPseudo 2s infinite; */
  }
  
  .firework:nth-child(2) {
    --x: 30vmin;
  }
  
  .firework:nth-child(2),
  .firework:nth-child(2)::before,
  .firework:nth-child(2)::after {
    --color1: pink;
    --color2: violet;
    --color3: fuchsia;
    --color4: orchid;
    --color5: plum;
    --color6: lavender;  
    --finalSize: 40vmin;
    left: 30%;
    top: 60%;
    animation-delay: -0.25s;
  }
  
  .firework:nth-child(3) {
    --x: -30vmin;
    --y: -50vmin;
  }
  
  .firework:nth-child(3),
  .firework:nth-child(3)::before,
  .firework:nth-child(3)::after {
    --color1: cyan;
    --color2: lightcyan;
    --color3: lightblue;
    --color4: PaleTurquoise;
    --color5: SkyBlue;
    --color6: lavender;
    --finalSize: 35vmin;
    left: 70%;
    top: 60%;
    animation-delay: -0.4s;
  }